html {
    scroll-behavior: smooth;
  }


.nav-color{
    background-color: #ffc107 !important;
    color: white!important;
}

@media only screen and (min-width:684px){
.top{
    position:relative !important; 
    bottom:30px !important;
}
}
@media only screen and (min-width:767px) and (max-width:991px){
    .top{
       
        bottom:70px !important;
    }
    }
    @media only screen and (max-width:766px){
        .top{
           
            bottom:50px !important;
        }

       
        }


        .b-radius{
            border-radius: 7px !important;
            width: fit-content;
            height: auto;
            padding: 5px;
        }
        .b-top{
            margin-top: 50px;
        }

.t-justify{
    text-align: justify!important;
}

.t-color{
    color: #ffc107 !important;
}

.p-org{
    height: 100px; 
    text-align: center!important;
}
#d-noned{
    min-height: 60px;
     display: block;
     }
@media only screen and (max-width:274px){
    .t-margin-top{
      padding-top:  2px !important;
    }
    .t-size-reduce{
        font-size: 20px;

    }
}
@media only screen and (max-width:824px){
     .t-margin-top{
       padding-top:  30px !important;
     }
}
@media only screen and (max-width:395px){
    .t-margin-top{
      padding-top:  25px !important;
    }

    .f-text-change{
        font-size: 6px;
    }
}

@media only screen and (min-width: 1021px ) {
    .box-top-change{
        position: relative !important;
       top: -10px !important;

    }
}

/* @media only screen and (min-width: 1300px ) and (max-width:4000px){
    .box-top-change{
        position: relative !important;
       top: -90px !important;

    }
} */

.b-color{
    border: 3px solid;
    border-color: #ffc107 !important; ;
}
.b-rounded{
    border-radius: 8px;
}

.body-color-black{
    background-color: black;
}

.img-margin{
    margin-top: 20px;
}

.img-onhover:hover{
   border: 3px solid;
   border-color:#ffc107 ;
   opacity: 0.5;
}

.footer{
    max-width: 100%;;
    height:fit-content ;

}

.s-b-padding{
    padding-bottom: 60px;
}

.f-color{
    background-color: #000000;
    height:fit-content ;


}

.s-color{
    background-color: #ffc107;
    height:fit-content ;

}

.t-color-change{
  color:   #ffc107;
  border: 3px solid white;
  margin-top: 10px;
  border-top: none;
}

.t-color-change:hover{
    border-color: #ffc107;
}

.t-decoration{
    text-decoration: none;
}
 .img-width-change{
    max-width: 300px !important;
} 

.img-p{
    margin-left: 20px;
}

.vv{
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 991px ){
    .mm{
        bottom: 0px !important;
        position: fixed !important;
        max-width: inherit;
        
    }
    .ab-marg{
        margin-top: 10px;
    }
}

@media only screen and (min-width: 992px ){
    .xx{
        top: 0px !important;
        position:fixed !important;
        width:100% !important;
        
    }
    h2::before { 
        display: block; 
        content: " "; 
        margin-top: -90px; 
        height: 90px; 
        visibility: hidden; 
        pointer-events: none;
      }
      #d-noned{
          display: none;
      }
      .p-bottom-ed{
            padding-bottom:100px ;
      }
      .img-bottom-edit{
          margin-bottom: 35px;
      }
     .top-m{
        margin-top: 160px !important;
     }
      .ab-marg{
       margin-top: 70px;
      }

}
.f-pad{
    padding-top:100px  !important;
}

.ee{
    z-index: 100 !important;
}

.f-m-top{
    padding-top: 20px;
}

@media screen and (max-height:4000px) {
    .nav-t{
        width:100% !important;
    }

}



.fixed-ratio-resize {
    max-width: 100%;
    height: auto;
    width: auto\9;
    }
    

    .t-justify2{
text-justify: auto;
text-align: justify;
    }

    nav {
        background: linear-gradient(-45deg,  #ffc107,rgb(5, 134, 253),#e8a643,#ff9800,#e68a00 );
        background-size: 300% 400%;
        animation: gradient 15s ease-in-out infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 60% 80%;
        }
        70%{
            background-position: 90% 100%;

        }
        100% {
            background-position: 0% 50%;
        }
    }
    